@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#intro,#projects,.progress-container,.B-circle{
  animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
/* Scroll animation */
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}






@keyframes flipIn-r {
  from {
    opacity: 0;
    transform: rotateY(-180deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

#facebook-id , #github-id{
  animation: flipIn-r linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}


@keyframes flipIn-l {
  from {
      opacity: 0;
      transform: rotateY(+180deg);
  }
  to {
      opacity: 1;
      transform: rotateY(0);
  }
}
#instagram-id,#twitter-id{
  animation: flipIn-l linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Body and container styles */
body {
  display: flex;
  justify-content: center;
  background-color: #000814;
  color: rgb(222, 222, 222);
  font-family: 'Inter', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 550vh;
  box-shadow:
  -10px 0 10px rgba(0, 0, 0, 0.2),  
  -20px 0 20px rgba(0, 0, 0, 0.15),  
  -30px 0 30px rgba(0, 0, 0, 0.1),  
  10px 0 10px rgba(0, 0, 0, 0.2),
  20px 0 20px rgba(0, 0, 0, 0.15), 
  30px 0 30px rgba(0, 0, 0, 0.1); 
}

/* Bar styles */
#bar {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 4vmin;
  border-radius: 2rem;
  height: 9vmin;
  width: 65%;
  padding-left: 10px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 8, 20, 0.5);
  opacity: 1;
  transition: box-shadow 0.3s ease-in-out;
}
#name{
  font-family: "Aclonica", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: x-large;
}

#bar.glowing-shadow {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

#icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 20vmin;
}

#linked-in:hover,#mail:hover, #mode:hover{

  transform: translateX(-10px);
  color: #ffffff;
}

#linked-in, #mail, #mode {
  font-size: 36px;
  transition:transform 0.4s ease;
}

/* Intro styles */
#intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60vmin;
  margin-top: 3vmin;
  width: 86.6%;

}
.intro-emoji{
  filter: drop-shadow(0 0 10px #000814);
  height: 70vmin;

}
.intro-emoji2{
  filter: drop-shadow(0 0 10px #000814);
  height: 70vmin;
}

#intro-emoji-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 60vmin;
  width: 30vmin;
  left: 75vmin;
 
}
.intro-emoji2{
  transition: 2s ease-in;
  display: none;
}
.intro-emoji{
  transition: 3s ease-in;
  display: block;
} 

#intro-emoji-container:hover #handfold{
  display: none;
}
#intro-emoji-container:hover #hi{
  display: block;
}





#flower{
  filter: drop-shadow(0 0 10px #008000);
  position: absolute;
  top: 38vmin;
  left: 55vmin;
height: 20vmin;
width: 80vmin;
}

#intro h1{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: -0.6px;
}
#intro #learning{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: -0.6px;

}

/* Projects styles */
#projects {

  background-color: #051923;
  width: 70%;
  height: 70vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;



  box-shadow: 
        0 0 10px rgba(5, 25, 35, 0.5),
        0 0 20px rgba(5, 25, 35, 0.4),
        0 0 30px rgba(5, 25, 35, 0.3),
        0 0 40px rgba(5, 25, 35, 0.2),
        0 0 50px rgba(5, 25, 35, 0.1);
}

#upper-projects,
#lower-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vmin;
  width: 100%;
}



.project {
  width: 200px;
  /* adjust the width as needed */
  height: 200px;
  /* adjust the height as needed */
  margin: 10px;
  position: relative;
  transition: transform 0.4s ease;
}

.project:hover {
  transform: translateY(-20px); /* Moves the project up by 10 pixels */
}

.project img {
  background-color: #c8b6ff;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.info-icon {
  background-color: #10002b;
  animation: pulse 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  /* box-shadow: 10px 10px 5px 12px ; */
  padding: 5px;
  padding-bottom: 5px;
}

.info-icon i {
  font-size: small;
  color: white;
}

.project-description {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: 12px;

  color: black;
  /* display: block; */
  display: none;

  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #80ffdb; /* Overlay color */
  opacity: 1; /* Adjust opacity as needed */
  /* background: transparent; */
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-radius: 10px;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }

  50% {
      transform: scale(1.2);
      opacity: 0.8;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}












.progress-container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.progress-bar {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
  width: 80%;
  background-color: #051923;
  /* background-color: #10002b; */
  border-radius: 25px;
  margin: 15px 0;
  position: relative;
  display: flex;
  align-items: center;
        
}

.progress {
  height: 30px;
  border-radius: 25px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#java .progress {
  background-color: #3498db;
}

#java .icon {
  background-color: #3498db;
  color: white;
}

#python .progress {
  background-color: #e67e22;
}

#python .icon {
  background-color: #e67e22;
  color: white;
}

#sql .progress {
  background-color: #9b59b6;
}

#sql .icon {
  background-color: #9b59b6;
  color: white;
}

#flutter .progress {
  background-color: #2ecc71;
}

#flutter .icon {
  background-color: #2ecc71;
  color: white;
}

#html .progress {
  background-color: #e34c26;
}

#html .icon {
  background-color: #e34c26;
  color: white;
}

#css .progress {
  background-color: #264de4;
}

#css .icon {
  background-color: #264de4;
  color: white;
}

#django .progress {
  background-color: #092e20;
}

#django .icon {
  background-color: #092e20;
  color: white;
}

#javascript .progress {
  background-color: #f0db4f;
}

#javascript .icon {
  background-color: #f0db4f;
  color: white;
}


/* Socials section */
#socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vmin;
  height: auto;
  width: 100%;
  margin-bottom: 30vmin;
}

#right-container, #left-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5vmin;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#left-container {
  margin-top: 30vmin;
}

.R-apps, .L-apps {
  background-color: #001219;
  border-radius: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.6s ease, transform 0.6s ease;
  height: 50vmin;
  width: 43vmin;
}

.R-apps:hover, .L-apps:hover {
  transform: rotate(15deg);
}

.img-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vmin;
  border-radius: 2rem;
  height: 20vmin;
  width: 35vmin;
  transition: box-shadow 0.5s ease;
}

#text {
  margin-bottom: 2vmin;
  height: 20vmin;
  width: 32vmin;
  text-align: center;
}

#up-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: 15px;
  height: 10vmin;
}

.down-text {
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.3);
  height: 10vmin;
}

/* Social media icons */
#instagram {
  font-size: 80px;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

#instagram:hover {
  box-shadow: 0 0 10px rgba(131, 58, 180, 0.5), 0 0 20px rgba(253, 29, 29, 0.5), 0 0 30px rgba(252, 176, 69, 0.5);
}

#facebook {
  background-color: #1877f2;
  font-size: 80px;
}

#facebook:hover {
  box-shadow: 0 0 10px rgba(24, 119, 242, 0.5), 0 0 20px rgba(24, 119, 242, 0.5), 0 0 30px rgba(24, 119, 242, 0.5);
}

#twitter {
  background-color: #1da1f2;
  font-size: 80px;
}

#twitter:hover {
  box-shadow: 0 0 10px rgba(29, 161, 242, 0.5), 0 0 20px rgba(29, 161, 242, 0.5), 0 0 30px rgba(29, 161, 242, 0.5);
}

#github {
  font-size: 80px;
  background: linear-gradient(to right, #0d1117, #0d1117);
}

#github:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
}

/* Circular background elements */
.B-circle {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vmin;
  width: 75vmin;
  z-index: -1;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031926;
  height: 75vmin;
  width: 75vmin;
  border-radius: 50%;
}

.inner {
  height: 70vmin;
  width: 70vmin;
  border-radius: 50%;
  background: #000814;
}


#footer{


  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: -0.6px;
  height: 80vmin;
  width: auto;
}

#footer .footer_emoji{

  filter: drop-shadow(0 0 10px #000814);
  height: 50vmin;
  width: 30vmin;

}
#footer .footer_emoji2{

  filter: drop-shadow(0 0 10px #000814);
  height: 50vmin;
  width: 30vmin;
  /* border: 1px solid white; */
}
#footer-emoji-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  height: 40vmin;
  width: 15vmin;
  
}
.footer_emoji2{
  display: none;
}

#footer-emoji-container:hover #footer-emoji-none{
  display: block;

}
#footer-emoji-container:hover #footer-emoji-id{
  display: none;

}

.connect{
  padding-right: 10vmin;
  /* border: 1px solid white; */
}

.grass{

  position: absolute;
  top: 4;
  z-index: 2;
  height: 40vmin;
  width: 60%;
}
#main-footer{
  /* gap: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.observed {
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.observed.in-view {
  opacity: 1;
  transform: scale(1);
}

#container > div:not(.in-view) {
  opacity: 0;
}

#last-line{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 2vmin;
}




/* Mobile Styles */
@media (max-width: 800px) {

  #container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600vh;
    width: 100%;
    padding: 0 10px;
  }

  #bar {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 4vmin;
  border-radius: 2rem;
  height: 14vmin;
  width: 100%;
  padding-left: 10px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 8, 20, 0.5);
  opacity: 1;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  }
#name{
  width: 80%;
}
  #icons i{
    display: none;  
  }
  #icons span{
    width: 10%;
  }

  #intro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-top: 20vmin; */
    /* margin-left: 10vmin; */
    height: 60vmin;
    width: 100%;
  }

  #intro-emoji-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 60vmin;
    width: 30vmin;
    top: 48vmin;
    left: 40vmin;
  }

  #flower{
      position: absolute;
      top: 85vmin;
      left: 12vmin;
    height: 20vmin;
    width: 80vmin;
  }

  #intro h1{
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
    /* font-weight: 800; */
    font-size: 40px;
    /* letter-spacing: -0.6px; */
    /* height: 60vmin; */
    width: 100%;
    /* text-align: center; */
    /* padding: 20px; */
  }
  #intro #learning{
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
    /* font-weight: 800; */
    font-size: 20px;
    /* letter-spacing: -0.6px; */
    /* border: 1px solid white; */
  }
  #projects {
    
  background-color: #051923;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;



  box-shadow: 
        0 0 10px rgba(5, 25, 35, 0.5),
        0 0 20px rgba(5, 25, 35, 0.4),
        0 0 30px rgba(5, 25, 35, 0.3),
        0 0 40px rgba(5, 25, 35, 0.2),
        0 0 50px rgba(5, 25, 35, 0.1);
  }

  #upper-projects, #lower-projects {
    flex-direction: column;
    height: auto;
  }
 .project{
    width: 350px;
    
  }



  .progress-container {
    top: auto;
    position: relative;
    height: auto;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    box-shadow: none;
 
  }


  #socials-container {
    flex-direction: column;
    gap: 3vmin;
    height: auto;
    padding: 20px 0;
  }

  #right-container, #left-container {
    width: 80%;
    margin-top: 5vmin;
  }

  .R-apps, .L-apps {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 70vmin;
  }

  .img-background {
    height: 30vmin;
    width: 80%;
    margin: 10px 0;
  }

  #text {
    height: auto;
    width: 90%;
  }

  #up-text, .down-text {
    font-size: 12px;
    height: auto;
  }

  
#footer{

  font-size: 40px;

}
#last-line{
 display: none;
}
}
